docs/src/main/resources/samples/banking-sample/esb/synapse-configs/default/proxy-services/AccountOpeningProcess/CustomerDS.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://ws.wso2.org/dataservice" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.wso2.org/dataservice">
    <wsdl:documentation />
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.wso2.org/dataservice">
            <xs:element name="DataServiceFault" type="xs:string" />
            <xs:element name="REQUEST_STATUS" type="xs:string" />
            <xs:element name="op1">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element name="NID" nillable="true" type="xs:string" />
                        <xs:element name="Name" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Entries" type="ns0:Entries" />
            <xs:complexType name="Entries">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Entry" type="ns0:Entry" />

                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Entry">
                <xs:sequence>
                    <xs:element name="Flag" nillable="true" type="xs:integer" />
                    <xs:element name="Customer" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>

    </wsdl:types>
    <wsdl:message name="op1Request">
        <wsdl:part name="parameters" element="ns0:op1" />
    </wsdl:message>
    <wsdl:message name="op1Response">
        <wsdl:part name="parameters" element="ns0:Entries" />
    </wsdl:message>
    <wsdl:message name="DataServiceFault">
        <wsdl:part name="parameters" element="ns0:DataServiceFault" />

    </wsdl:message>
    <wsdl:portType name="CustomerDSPortType">
        <wsdl:operation name="op1">
            <wsdl:documentation />
            <wsdl:input message="ns0:op1Request" wsaw:Action="urn:op1" />
            <wsdl:output message="ns0:op1Response" wsaw:Action="urn:op1Response" />
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:op1DataServiceFault" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CustomerDSSOAP11Binding" type="ns0:CustomerDSPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="op1">
            <soap:operation soapAction="urn:op1" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />

            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CustomerDSSOAP12Binding" type="ns0:CustomerDSPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="op1">

            <soap12:operation soapAction="urn:op1" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault" />

            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CustomerDSHttpBinding" type="ns0:CustomerDSPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="op1">
            <http:operation location="op1" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />

            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CustomerDS">
        <wsdl:port name="SOAP11Endpoint" binding="ns0:CustomerDSSOAP11Binding">
            <soap:address location="http://localhost:9769/services/CustomerDS" />

        </wsdl:port>
        <!--wsdl:port name="SecureSOAP11Endpoint" binding="ns0:CustomerDSSOAP11Binding">
            <soap:address location="https://10.216.163.231:9443/services/CustomerDS.SecureSOAP11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="SecureSOAP12Endpoint" binding="ns0:CustomerDSSOAP12Binding">
            <soap12:address location="https://10.216.163.231:9443/services/CustomerDS.SecureSOAP12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="SOAP12Endpoint" binding="ns0:CustomerDSSOAP12Binding">
            <soap12:address location="http://10.216.163.231:9763/services/CustomerDS.SOAP12Endpoint/" />

        </wsdl:port>
        <wsdl:port name="HTTPEndpoint" binding="ns0:CustomerDSHttpBinding">
            <http:address location="http://10.216.163.231:9763/services/CustomerDS.HTTPEndpoint/" />
        </wsdl:port>
        <wsdl:port name="SecureHTTPEndpoint" binding="ns0:CustomerDSHttpBinding">
            <http:address location="https://10.216.163.231:9443/services/CustomerDS.SecureHTTPEndpoint/" />
        </wsdl:port-->
    </wsdl:service>
</wsdl:definitions>
