components/studio-platform/plugins/org.wso2.integrationstudio.eclipse.carbonserver.base/wsdl/ApplicationAdmin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://mgt.application.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http1="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax23="http://mgt.application.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mgt.application.carbon.wso2.org">
    <wsdl:documentation>ApplicationAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax24="http://mgt.application.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.application.carbon.wso2.org">
            <xs:import namespace="http://mgt.application.carbon.wso2.org/xsd" />
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listAllApplicationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAppData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAppDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax23:ApplicationMetadata" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteApplication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.application.carbon.wso2.org/xsd">
            <xs:complexType name="ApplicationMetadata">
                <xs:sequence>
                    <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="registryFilters" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceGroups" nillable="true" type="ax23:ServiceGroupMetadata" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ServiceGroupMetadata">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="services" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="sgName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="sgType" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deleteApplicationRequest">
        <wsdl:part name="parameters" element="ns:deleteApplication" />
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns:Exception" />
    </wsdl:message>
    <wsdl:message name="getAppDataRequest">
        <wsdl:part name="parameters" element="ns:getAppData" />
    </wsdl:message>
    <wsdl:message name="getAppDataResponse">
        <wsdl:part name="parameters" element="ns:getAppDataResponse" />
    </wsdl:message>
    <wsdl:message name="listAllApplicationsRequest" />
    <wsdl:message name="listAllApplicationsResponse">
        <wsdl:part name="parameters" element="ns:listAllApplicationsResponse" />
    </wsdl:message>
    <wsdl:portType name="ApplicationAdminPortType">
        <wsdl:operation name="deleteApplication">
            <wsdl:input message="ns:deleteApplicationRequest" wsaw:Action="urn:deleteApplication" />
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:deleteApplicationException" />
        </wsdl:operation>
        <wsdl:operation name="getAppData">
            <wsdl:input message="ns:getAppDataRequest" wsaw:Action="urn:getAppData" />
            <wsdl:output message="ns:getAppDataResponse" wsaw:Action="urn:getAppDataResponse" />
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:getAppDataException" />
        </wsdl:operation>
        <wsdl:operation name="listAllApplications">
            <wsdl:input message="ns:listAllApplicationsRequest" wsaw:Action="urn:listAllApplications" />
            <wsdl:output message="ns:listAllApplicationsResponse" wsaw:Action="urn:listAllApplicationsResponse" />
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:listAllApplicationsException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ApplicationAdminSoap11Binding" type="ns:ApplicationAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="deleteApplication">
            <soap:operation soapAction="urn:deleteApplication" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAppData">
            <soap:operation soapAction="urn:getAppData" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listAllApplications">
            <soap:operation soapAction="urn:listAllApplications" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApplicationAdminSoap12Binding" type="ns:ApplicationAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="deleteApplication">
            <soap12:operation soapAction="urn:deleteApplication" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAppData">
            <soap12:operation soapAction="urn:getAppData" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listAllApplications">
            <soap12:operation soapAction="urn:listAllApplications" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApplicationAdminHttpBinding" type="ns:ApplicationAdminPortType">
        <http1:binding verb="POST" />
        <wsdl:operation name="deleteApplication">
            <http1:operation location="deleteApplication" />
            <wsdl:input>
                <mime:content type="text/xml" part="deleteApplication" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAppData">
            <http1:operation location="getAppData" />
            <wsdl:input>
                <mime:content type="text/xml" part="getAppData" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAppData" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listAllApplications">
            <http1:operation location="listAllApplications" />
            <wsdl:input>
                <mime:content type="text/xml" part="listAllApplications" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="listAllApplications" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ApplicationAdmin">
        <wsdl:port name="ApplicationAdminHttpsSoap11Endpoint" binding="ns:ApplicationAdminSoap11Binding">
            <soap:address location="https://localhost:8243/services/ApplicationAdmin.ApplicationAdminHttpsSoap11Endpoint" />
        </wsdl:port>
        <wsdl:port name="ApplicationAdminHttpsSoap12Endpoint" binding="ns:ApplicationAdminSoap12Binding">
            <soap12:address location="https://localhost:8243/services/ApplicationAdmin.ApplicationAdminHttpsSoap12Endpoint" />
        </wsdl:port>
        <wsdl:port name="ApplicationAdminHttpsEndpoint" binding="ns:ApplicationAdminHttpBinding">
            <http1:address location="https://localhost:8243/services/ApplicationAdmin.ApplicationAdminHttpsEndpoint" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
