dependencies/maven-car-deploy-plugin/src/main/resources/CarbonAppUploader.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://upload.application.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax283="http://upload.application.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://upload.application.carbon.wso2.org">
    <wsdl:documentation>CarbonAppUploader</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://upload.application.carbon.wso2.org/xsd">
            <xs:complexType name="UploadedFileItem">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dataHandler" nillable="true" type="xs:base64Binary"/>
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fileType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax284="http://upload.application.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://upload.application.carbon.wso2.org">
            <xs:import namespace="http://upload.application.carbon.wso2.org/xsd"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="uploadApp">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="fileItems" nillable="true" type="ax284:UploadedFileItem"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="uploadAppRequest">
        <wsdl:part name="parameters" element="ns:uploadApp"/>
    </wsdl:message>
    <wsdl:message name="uploadAppResponse"/>
    <wsdl:portType name="CarbonAppUploaderPortType">
        <wsdl:operation name="uploadApp">
            <wsdl:input message="ns:uploadAppRequest" wsaw:Action="urn:uploadApp"/>
            <wsdl:output message="ns:uploadAppResponse" wsaw:Action="urn:uploadAppResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CarbonAppUploaderSoap11Binding" type="ns:CarbonAppUploaderPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="uploadApp">
            <soap:operation soapAction="urn:uploadApp" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CarbonAppUploaderSoap12Binding" type="ns:CarbonAppUploaderPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="uploadApp">
            <soap12:operation soapAction="urn:uploadApp" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CarbonAppUploaderHttpBinding" type="ns:CarbonAppUploaderPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="uploadApp">
            <http:operation location="uploadApp"/>
            <wsdl:input>
                <mime:content type="text/xml" part="uploadApp"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="uploadApp"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CarbonAppUploader">
        <wsdl:port name="CarbonAppUploaderHttpsSoap11Endpoint" binding="ns:CarbonAppUploaderSoap11Binding">
            <soap:address location="https://localhost:8243/services/CarbonAppUploader.CarbonAppUploaderHttpsSoap11Endpoint"/>
        </wsdl:port>
        <wsdl:port name="CarbonAppUploaderHttpsSoap12Endpoint" binding="ns:CarbonAppUploaderSoap12Binding">
            <soap12:address location="https://localhost:8243/services/CarbonAppUploader.CarbonAppUploaderHttpsSoap12Endpoint"/>
        </wsdl:port>
        <wsdl:port name="CarbonAppUploaderHttpsEndpoint" binding="ns:CarbonAppUploaderHttpBinding">
            <http:address location="https://localhost:8243/services/CarbonAppUploader.CarbonAppUploaderHttpsEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>