docs/src/main/resources/samples/shopping-cart/esb-config/ProductService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://ws.wso2.org/dataservice"
                  xmlns:ax27="http://shoppingcart.acme.com/payment" xmlns:ax28="http://shoppingcart.acme.com/customer"
                  xmlns:ax25="http://shoppingcart.acme.com/product" xmlns:ax26="http://shoppingcart.acme.com/order"
                  xmlns:ax24="http://shoppingcart.acme.com/customer/order" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ns1="com.acme.shoppingcart" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:ax210="http://shoppingcart.acme.com/reorder" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.wso2.org/dataservice">
    <wsdl:documentation />
    <wsdl:types>




        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.wso2.org/dataservice">
            <xs:element name="DataServiceFault" type="xs:string" />
        </xs:schema>

        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://shoppingcart.acme.com/product">

            <xs:complexType name="Categories">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Category" nillable="true" type="ax25:Category" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Categories" type="ax25:Categories" />
            <xs:complexType name="Category">
                <xs:sequence>
                    <xs:element name="categoryName" nillable="true" type="xs:string" />
                    <xs:element name="description" nillable="true" type="xs:string" />
                    <xs:element name="image" nillable="true" type="xs:base64Binary" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Products">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Product" nillable="true" type="ax25:Product" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Products" type="ax25:Products" />
            <xs:complexType name="Product">
                <xs:sequence>
                    <xs:element name="productCode" nillable="true" type="xs:string" />
                    <xs:element name="productName" nillable="true" type="xs:string" />
                    <xs:element name="categoryName" nillable="true" type="xs:string" />
                    <xs:element name="productVendor" nillable="true" type="xs:string" />
                    <xs:element name="productDescription" nillable="true" type="xs:string" />
                    <xs:element name="quantityInStock" nillable="true" type="xs:integer" />
                    <xs:element name="price" nillable="true" type="xs:double" />
                    <xs:element name="reorderLevel" nillable="true" type="xs:integer" />
                    <xs:element name="reorderQuantity" nillable="true" type="xs:integer" />
                    <xs:element name="image" nillable="true" type="xs:base64Binary" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getProductByCode">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProductsOfCategory">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>

    </wsdl:types>
    <wsdl:message name="getProductByCodeRequest">
        <wsdl:part name="parameters" element="ax25:getProductByCode" />
    </wsdl:message>
    <wsdl:message name="getProductByCodeResponse">
        <wsdl:part name="parameters" element="ax25:Products" />
    </wsdl:message>

    <wsdl:message name="DataServiceFault">
        <wsdl:part name="parameters" element="ns:DataServiceFault" />
    </wsdl:message>

    <wsdl:message name="getProductsOfCategoryRequest">
        <wsdl:part name="parameters" element="ax25:getProductsOfCategory" />
    </wsdl:message>
    <wsdl:message name="getProductsOfCategoryResponse">
        <wsdl:part name="parameters" element="ax25:Products" />
    </wsdl:message>
    
    <wsdl:message name="getAllCategoriesRequest" />
    <wsdl:message name="getAllCategoriesResponse">
        <wsdl:part name="parameters" element="ax25:Categories" />
    </wsdl:message>
    <wsdl:portType name="ShoppingCartDSPortType">
        <wsdl:operation name="getProductByCode">
            <wsdl:documentation />
            <wsdl:input message="ns:getProductByCodeRequest" wsaw:Action="urn:getProductByCode" />
            <wsdl:output message="ns:getProductByCodeResponse" wsaw:Action="urn:getProductByCodeResponse" />
            <wsdl:fault message="ns:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:getProductByCodeDataServiceFault" />
        </wsdl:operation>

        <wsdl:operation name="getProductsOfCategory">
            <wsdl:documentation />
            <wsdl:input message="ns:getProductsOfCategoryRequest" wsaw:Action="urn:getProductsOfCategory" />
            <wsdl:output message="ns:getProductsOfCategoryResponse" wsaw:Action="urn:getProductsOfCategoryResponse" />
            <wsdl:fault message="ns:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:getProductsOfCategoryDataServiceFault" />
        </wsdl:operation>

        <wsdl:operation name="getAllCategories">
            <wsdl:documentation />
            <wsdl:input message="ns:getAllCategoriesRequest" wsaw:Action="urn:getAllCategories" />
            <wsdl:output message="ns:getAllCategoriesResponse" wsaw:Action="urn:getAllCategoriesResponse" />
            <wsdl:fault message="ns:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:getAllCategoriesDataServiceFault" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ShoppingCartDSSOAP11Binding" type="ns:ShoppingCartDSPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getProductByCode">
            <soap:operation soapAction="urn:getProductByCode" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getProductsOfCategory">
            <soap:operation soapAction="urn:getProductsOfCategory" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getAllCategories">
            <soap:operation soapAction="urn:getAllCategories" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ShoppingCartDSSOAP12Binding" type="ns:ShoppingCartDSPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getProductByCode">
            <soap12:operation soapAction="urn:getProductByCode" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getProductsOfCategory">
            <soap12:operation soapAction="urn:getProductsOfCategory" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getAllCategories">
            <soap12:operation soapAction="urn:getAllCategories" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ShoppingCartDSHttpBinding" type="ns:ShoppingCartDSPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getProductByCode">
            <http:operation location="getProductByCode" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getProductsOfCategory">
            <http:operation location="getProductsOfCategory" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getAllCategories">
            <http:operation location="getAllCategories" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ProductService">
        <wsdl:port name="SOAP11Endpoint" binding="ns:ShoppingCartDSSOAP11Binding">
            <soap:address location="http://10.100.0.177:9763/services/ProductService.SOAP11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="SecureSOAP11Endpoint" binding="ns:ShoppingCartDSSOAP11Binding">
            <soap:address location="https://10.100.0.177:9443/services/ProductService.SecureSOAP11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="SecureSOAP12Endpoint" binding="ns:ShoppingCartDSSOAP12Binding">
            <soap12:address location="https://10.100.0.177:9443/services/ProductService.SecureSOAP12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="SOAP12Endpoint" binding="ns:ShoppingCartDSSOAP12Binding">
            <soap12:address location="http://10.100.0.177:9763/services/ProductService.SOAP12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="HTTPEndpoint" binding="ns:ShoppingCartDSHttpBinding">
            <http:address location="http://10.100.0.177:9763/services/ProductService.HTTPEndpoint/" />
        </wsdl:port>
        <wsdl:port name="SecureHTTPEndpoint" binding="ns:ShoppingCartDSHttpBinding">
            <http:address location="https://10.100.0.177:9443/services/ProductService.SecureHTTPEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>