docs/src/main/resources/samples/shopping-cart/connector-service/src/main/resources/META-INF/FinanceConnectorService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://connectors.shoppingcart.acme.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://connectors.shoppingcart.acme.com" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"> 
    <wsdl:documentation>FinanceConnectorService</wsdl:documentation> 
    <wsdl:types> 
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://connectors.shoppingcart.acme.com"> 
            <xs:element name="notifyPurchase"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="amount" type="xs:float" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="notifyPurchaseResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="return" type="xs:boolean" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
        </xs:schema> 
    </wsdl:types> 
    <wsdl:message name="notifyPurchaseRequest"> 
        <wsdl:part name="parameters" element="ns:notifyPurchase" /> 
    </wsdl:message> 
    <wsdl:message name="notifyPurchaseResponse"> 
        <wsdl:part name="parameters" element="ns:notifyPurchaseResponse" /> 
    </wsdl:message> 
    <wsdl:portType name="FinanceConnectorServicePortType"> 
        <wsdl:operation name="notifyPurchase"> 
            <wsdl:input message="ns:notifyPurchaseRequest" wsaw:Action="urn:notifyPurchase" /> 
            <wsdl:output message="ns:notifyPurchaseResponse" wsaw:Action="urn:notifyPurchaseResponse" /> 
        </wsdl:operation> 
    </wsdl:portType> 
    <wsdl:binding name="FinanceConnectorServiceSoap11Binding" type="ns:FinanceConnectorServicePortType"> 
		<wsp:PolicyReference URI="http://10.100.1.125:8763/registry/resource/_system/governance/policies/policy_service.xml"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
        <wsdl:operation name="notifyPurchase"> 
            <soap:operation soapAction="urn:notifyPurchase" style="document" /> 
            <wsdl:input> 
                <soap:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal" /> 
            </wsdl:output> 
        </wsdl:operation> 
    </wsdl:binding> 
    <wsdl:binding name="FinanceConnectorServiceSoap12Binding" type="ns:FinanceConnectorServicePortType"> 
		<wsp:PolicyReference URI="http://10.100.1.125:8763/registry/resource/_system/governance/policies/policy_service.xml"/>
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
        <wsdl:operation name="notifyPurchase"> 
            <soap12:operation soapAction="urn:notifyPurchase" style="document" /> 
            <wsdl:input> 
                <soap12:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal" /> 
            </wsdl:output> 
        </wsdl:operation> 
    </wsdl:binding> 
    <wsdl:binding name="FinanceConnectorServiceHttpBinding" type="ns:FinanceConnectorServicePortType"> 
        <http:binding verb="POST" /> 
        <wsdl:operation name="notifyPurchase"> 
            <http:operation location="notifyPurchase" /> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:output> 
        </wsdl:operation> 
    </wsdl:binding> 
    <wsdl:service name="FinanceConnectorService"> 
        <wsdl:port name="FinanceConnectorServiceHttpSoap11Endpoint" binding="ns:FinanceConnectorServiceSoap11Binding">
            <soap:address location="http://123.231.43.156:9763/services/FinanceConnectorService.FinanceConnectorServiceHttpSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="FinanceConnectorServiceHttpsSoap11Endpoint" binding="ns:FinanceConnectorServiceSoap11Binding">
            <soap:address location="https://123.231.43.156:9443/services/FinanceConnectorService.FinanceConnectorServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="FinanceConnectorServiceHttpSoap12Endpoint" binding="ns:FinanceConnectorServiceSoap12Binding">
            <soap12:address location="http://123.231.43.156:9763/services/FinanceConnectorService.FinanceConnectorServiceHttpSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="FinanceConnectorServiceHttpsSoap12Endpoint" binding="ns:FinanceConnectorServiceSoap12Binding">
            <soap12:address location="https://123.231.43.156:9443/services/FinanceConnectorService.FinanceConnectorServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="FinanceConnectorServiceHttpsEndpoint" binding="ns:FinanceConnectorServiceHttpBinding">
            <http:address location="https://123.231.43.156:9443/services/FinanceConnectorService.FinanceConnectorServiceHttpsEndpoint/" />
        </wsdl:port>
        <wsdl:port name="FinanceConnectorServiceHttpEndpoint" binding="ns:FinanceConnectorServiceHttpBinding">
            <http:address location="http://123.231.43.156:9763/services/FinanceConnectorService.FinanceConnectorServiceHttpEndpoint/" />
        </wsdl:port> 
    </wsdl:service> 
</wsdl:definitions>
