components/studio-platform/plugins/org.wso2.integrationstudio.eclipse.usermgt.remote/wsdl/UserAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http1="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2378="http://common.mgt.user.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns="http://mgt.user.carbon.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://mgt.user.carbon.wso2.org">
    <wsdl:documentation>UserAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2380="http://common.mgt.user.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.user.carbon.wso2.org">
            <xs:import namespace="http://common.mgt.user.carbon.wso2.org/xsd" />
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
                </xs:sequence>

            </xs:complexType>
            <xs:element name="UserAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="UserAdminException" nillable="true" type="ax2378:UserAdminException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateUsersOfRole">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="userList" nillable="true" type="ax2378:FlaggedName" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateRolesOfUser">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="newUserList" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setRoleUIPermission">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="rawResources" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listUsers">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listUsersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getUsersOfRole">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getUsersOfRoleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2378:FlaggedName" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserStoreInfoResponse">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2378:UserStoreInfo" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRolesOfUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRolesOfUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2378:FlaggedName" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getRolePermissions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRolePermissionsResponse">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2378:UIPermissionNode" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllUIPermissionsResponse">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2378:UIPermissionNode" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllRolesNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2378:FlaggedName" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="deleteUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="deleteRole">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changePasswordByUser">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changePassword">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="bulkImportUsers">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />

                        <xs:element minOccurs="0" name="handler" nillable="true" type="xs:base64Binary" />
                        <xs:element minOccurs="0" name="defaultPassword" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />

                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="roles" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="claims" nillable="true" type="ax2378:ClaimValue" />
                        <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addRole">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="userList" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax2379="http://mgt.user.carbon.wso2.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.mgt.user.carbon.wso2.org/xsd">

            <xs:import namespace="http://mgt.user.carbon.wso2.org" />
            <xs:complexType name="UserAdminException">
                <xs:complexContent>
                    <xs:extension base="ns:Exception">
                        <xs:sequence />
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="FlaggedName">

                <xs:sequence>
                    <xs:element minOccurs="0" name="editable" type="xs:boolean" />
                    <xs:element minOccurs="0" name="itemName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="selected" type="xs:boolean" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UserStoreInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="adminRole" nillable="true" type="xs:string" />

                    <xs:element minOccurs="0" name="adminUser" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="anonUser" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="everyOneRole" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="jsRegEx" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="maxUserListCount" type="xs:int" />
                    <xs:element minOccurs="0" name="readOnly" type="xs:boolean" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UIPermissionNode">

                <xs:sequence>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="nodeList" nillable="true" type="ax2378:UIPermissionNode" />
                    <xs:element minOccurs="0" name="resourcePath" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="selected" type="xs:boolean" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClaimValue">
                <xs:sequence>

                    <xs:element minOccurs="0" name="claimURI" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getRolePermissionsRequest">
        <wsdl:part name="parameters" element="ns:getRolePermissions" />
    </wsdl:message>

    <wsdl:message name="getRolePermissionsResponse">
        <wsdl:part name="parameters" element="ns:getRolePermissionsResponse" />
    </wsdl:message>
    <wsdl:message name="UserAdminException">
        <wsdl:part name="parameters" element="ns:UserAdminException" />
    </wsdl:message>
    <wsdl:message name="getUserStoreInfoRequest" />
    <wsdl:message name="getUserStoreInfoResponse">
        <wsdl:part name="parameters" element="ns:getUserStoreInfoResponse" />

    </wsdl:message>
    <wsdl:message name="getAllRolesNamesRequest" />
    <wsdl:message name="getAllRolesNamesResponse">
        <wsdl:part name="parameters" element="ns:getAllRolesNamesResponse" />
    </wsdl:message>
    <wsdl:message name="bulkImportUsersRequest">
        <wsdl:part name="parameters" element="ns:bulkImportUsers" />
    </wsdl:message>
    <wsdl:message name="updateRolesOfUserRequest">

        <wsdl:part name="parameters" element="ns:updateRolesOfUser" />
    </wsdl:message>
    <wsdl:message name="deleteUserRequest">
        <wsdl:part name="parameters" element="ns:deleteUser" />
    </wsdl:message>
    <wsdl:message name="getUsersOfRoleRequest">
        <wsdl:part name="parameters" element="ns:getUsersOfRole" />
    </wsdl:message>
    <wsdl:message name="getUsersOfRoleResponse">

        <wsdl:part name="parameters" element="ns:getUsersOfRoleResponse" />
    </wsdl:message>
    <wsdl:message name="setRoleUIPermissionRequest">
        <wsdl:part name="parameters" element="ns:setRoleUIPermission" />
    </wsdl:message>
    <wsdl:message name="changePasswordByUserRequest">
        <wsdl:part name="parameters" element="ns:changePasswordByUser" />
    </wsdl:message>
    <wsdl:message name="changePasswordByUserResponse" />

    <wsdl:message name="getAllUIPermissionsRequest" />
    <wsdl:message name="getAllUIPermissionsResponse">
        <wsdl:part name="parameters" element="ns:getAllUIPermissionsResponse" />
    </wsdl:message>
    <wsdl:message name="getRolesOfUserRequest">
        <wsdl:part name="parameters" element="ns:getRolesOfUser" />
    </wsdl:message>
    <wsdl:message name="getRolesOfUserResponse">
        <wsdl:part name="parameters" element="ns:getRolesOfUserResponse" />

    </wsdl:message>
    <wsdl:message name="listUsersRequest">
        <wsdl:part name="parameters" element="ns:listUsers" />
    </wsdl:message>
    <wsdl:message name="listUsersResponse">
        <wsdl:part name="parameters" element="ns:listUsersResponse" />
    </wsdl:message>
    <wsdl:message name="addRoleRequest">
        <wsdl:part name="parameters" element="ns:addRole" />

    </wsdl:message>
    <wsdl:message name="changePasswordRequest">
        <wsdl:part name="parameters" element="ns:changePassword" />
    </wsdl:message>
    <wsdl:message name="deleteRoleRequest">
        <wsdl:part name="parameters" element="ns:deleteRole" />
    </wsdl:message>
    <wsdl:message name="addUserRequest">
        <wsdl:part name="parameters" element="ns:addUser" />

    </wsdl:message>
    <wsdl:message name="updateUsersOfRoleRequest">
        <wsdl:part name="parameters" element="ns:updateUsersOfRole" />
    </wsdl:message>
    <wsdl:message name="updateUsersOfRoleResponse" />
    <wsdl:portType name="UserAdminPortType">
        <wsdl:operation name="getRolePermissions">
            <wsdl:input message="ns:getRolePermissionsRequest" wsaw:Action="urn:getRolePermissions" />
            <wsdl:output message="ns:getRolePermissionsResponse" wsaw:Action="urn:getRolePermissionsResponse" />

            <wsdl:fault message="ns:UserAdminException" name="UserAdminException" wsaw:Action="urn:getRolePermissionsUserAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getUserStoreInfo">
            <wsdl:input message="ns:getUserStoreInfoRequest" wsaw:Action="urn:getUserStoreInfo" />
            <wsdl:output message="ns:getUserStoreInfoResponse" wsaw:Action="urn:getUserStoreInfoResponse" />
            <wsdl:fault message="ns:UserAdminException" name="UserAdminException" wsaw:Action="urn:getUserStoreInfoUserAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getAllRolesNames">
            <wsdl:input message="ns:getAllRolesNamesRequest" wsaw:Action="urn:getAllRolesNames" />

            <wsdl:output message="ns:getAllRolesNamesResponse" wsaw:Action="urn:getAllRolesNamesResponse" />
            <wsdl:fault message="ns:UserAdminException" name="UserAdminException" wsaw:Action="urn:getAllRolesNamesUserAdminException" />
        </wsdl:operation>
        <wsdl:operation name="bulkImportUsers">
            <wsdl:input message="ns:bulkImportUsersRequest" wsaw:Action="urn:bulkImportUsers" />
            <wsdl:fault message="ns:UserAdminException" name="UserAdminException" wsaw:Action="urn:bulkImportUsersUserAdminException" />
        </wsdl:operation>
        <wsdl:operation name="updateRolesOfUser">
            <wsdl:input message="ns:updateRolesOfUserRequest" wsaw:Action="urn:updateRolesOfUser" />

            <wsdl:fault message="ns:UserAdminException" name="UserAdminException" wsaw:Action="urn:updateRolesOfUserUserAdminException" />
        </wsdl:operation>
        <wsdl:operation name="deleteUser">
            <wsdl:input message="ns:deleteUserRequest" wsaw:Action="urn:deleteUser" />
            <wsdl:fault message="ns:UserAdminException" name="UserAdminException" wsaw:Action="urn:deleteUserUserAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getUsersOfRole">
            <wsdl:input message="ns:getUsersOfRoleRequest" wsaw:Action="urn:getUsersOfRole" />
            <wsdl:output message="ns:getUsersOfRoleResponse" wsaw:Action="urn:getUsersOfRoleResponse" />

            <wsdl:fault message="ns:UserAdminException" name="UserAdminException" wsaw:Action="urn:getUsersOfRoleUserAdminException" />
        </wsdl:operation>
        <wsdl:operation name="setRoleUIPermission">
            <wsdl:input message="ns:setRoleUIPermissionRequest" wsaw:Action="urn:setRoleUIPermission" />
            <wsdl:fault message="ns:UserAdminException" name="UserAdminException" wsaw:Action="urn:setRoleUIPermissionUserAdminException" />
        </wsdl:operation>
        <wsdl:operation name="changePasswordByUser">
            <wsdl:input message="ns:changePasswordByUserRequest" wsaw:Action="urn:changePasswordByUser" />
            <wsdl:output message="ns:changePasswordByUserResponse" wsaw:Action="urn:changePasswordByUserResponse" />

            <wsdl:fault message="ns:UserAdminException" name="UserAdminException" wsaw:Action="urn:changePasswordByUserUserAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getAllUIPermissions">
            <wsdl:input message="ns:getAllUIPermissionsRequest" wsaw:Action="urn:getAllUIPermissions" />
            <wsdl:output message="ns:getAllUIPermissionsResponse" wsaw:Action="urn:getAllUIPermissionsResponse" />
            <wsdl:fault message="ns:UserAdminException" name="UserAdminException" wsaw:Action="urn:getAllUIPermissionsUserAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getRolesOfUser">
            <wsdl:input message="ns:getRolesOfUserRequest" wsaw:Action="urn:getRolesOfUser" />

            <wsdl:output message="ns:getRolesOfUserResponse" wsaw:Action="urn:getRolesOfUserResponse" />
            <wsdl:fault message="ns:UserAdminException" name="UserAdminException" wsaw:Action="urn:getRolesOfUserUserAdminException" />
        </wsdl:operation>
        <wsdl:operation name="listUsers">
            <wsdl:input message="ns:listUsersRequest" wsaw:Action="urn:listUsers" />
            <wsdl:output message="ns:listUsersResponse" wsaw:Action="urn:listUsersResponse" />
            <wsdl:fault message="ns:UserAdminException" name="UserAdminException" wsaw:Action="urn:listUsersUserAdminException" />
        </wsdl:operation>
        <wsdl:operation name="addRole">

            <wsdl:input message="ns:addRoleRequest" wsaw:Action="urn:addRole" />
            <wsdl:fault message="ns:UserAdminException" name="UserAdminException" wsaw:Action="urn:addRoleUserAdminException" />
        </wsdl:operation>
        <wsdl:operation name="changePassword">
            <wsdl:input message="ns:changePasswordRequest" wsaw:Action="urn:changePassword" />
            <wsdl:fault message="ns:UserAdminException" name="UserAdminException" wsaw:Action="urn:changePasswordUserAdminException" />
        </wsdl:operation>
        <wsdl:operation name="deleteRole">
            <wsdl:input message="ns:deleteRoleRequest" wsaw:Action="urn:deleteRole" />

            <wsdl:fault message="ns:UserAdminException" name="UserAdminException" wsaw:Action="urn:deleteRoleUserAdminException" />
        </wsdl:operation>
        <wsdl:operation name="addUser">
            <wsdl:input message="ns:addUserRequest" wsaw:Action="urn:addUser" />
            <wsdl:fault message="ns:UserAdminException" name="UserAdminException" wsaw:Action="urn:addUserUserAdminException" />
        </wsdl:operation>
        <wsdl:operation name="updateUsersOfRole">
            <wsdl:input message="ns:updateUsersOfRoleRequest" wsaw:Action="urn:updateUsersOfRole" />
            <wsdl:output message="ns:updateUsersOfRoleResponse" wsaw:Action="urn:updateUsersOfRoleResponse" />

            <wsdl:fault message="ns:UserAdminException" name="UserAdminException" wsaw:Action="urn:updateUsersOfRoleUserAdminException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UserAdminSoap11Binding" type="ns:UserAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getUserStoreInfo">
            <soap:operation soapAction="urn:getUserStoreInfo" style="document" />
            <wsdl:input>
                <soap:body use="literal" />

            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UserAdminException">
                <soap:fault use="literal" name="UserAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRolePermissions">

            <soap:operation soapAction="urn:getRolePermissions" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UserAdminException">
                <soap:fault use="literal" name="UserAdminException" />

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="bulkImportUsers">
            <soap:operation soapAction="urn:bulkImportUsers" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="UserAdminException">
                <soap:fault use="literal" name="UserAdminException" />

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllRolesNames">
            <soap:operation soapAction="urn:getAllRolesNames" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />

            </wsdl:output>
            <wsdl:fault name="UserAdminException">
                <soap:fault use="literal" name="UserAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateRolesOfUser">
            <soap:operation soapAction="urn:updateRolesOfUser" style="document" />
            <wsdl:input>
                <soap:body use="literal" />

            </wsdl:input>
            <wsdl:fault name="UserAdminException">
                <soap:fault use="literal" name="UserAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteUser">
            <soap:operation soapAction="urn:deleteUser" style="document" />
            <wsdl:input>
                <soap:body use="literal" />

            </wsdl:input>
            <wsdl:fault name="UserAdminException">
                <soap:fault use="literal" name="UserAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUsersOfRole">
            <soap:operation soapAction="urn:getUsersOfRole" style="document" />
            <wsdl:input>
                <soap:body use="literal" />

            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UserAdminException">
                <soap:fault use="literal" name="UserAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changePasswordByUser">

            <soap:operation soapAction="urn:changePasswordByUser" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UserAdminException">
                <soap:fault use="literal" name="UserAdminException" />

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setRoleUIPermission">
            <soap:operation soapAction="urn:setRoleUIPermission" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="UserAdminException">
                <soap:fault use="literal" name="UserAdminException" />

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRolesOfUser">
            <soap:operation soapAction="urn:getRolesOfUser" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />

            </wsdl:output>
            <wsdl:fault name="UserAdminException">
                <soap:fault use="literal" name="UserAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllUIPermissions">
            <soap:operation soapAction="urn:getAllUIPermissions" style="document" />
            <wsdl:input>
                <soap:body use="literal" />

            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UserAdminException">
                <soap:fault use="literal" name="UserAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listUsers">

            <soap:operation soapAction="urn:listUsers" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UserAdminException">
                <soap:fault use="literal" name="UserAdminException" />

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRole">
            <soap:operation soapAction="urn:addRole" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="UserAdminException">
                <soap:fault use="literal" name="UserAdminException" />

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changePassword">
            <soap:operation soapAction="urn:changePassword" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="UserAdminException">
                <soap:fault use="literal" name="UserAdminException" />

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteRole">
            <soap:operation soapAction="urn:deleteRole" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="UserAdminException">
                <soap:fault use="literal" name="UserAdminException" />

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addUser">
            <soap:operation soapAction="urn:addUser" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="UserAdminException">
                <soap:fault use="literal" name="UserAdminException" />

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateUsersOfRole">
            <soap:operation soapAction="urn:updateUsersOfRole" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />

            </wsdl:output>
            <wsdl:fault name="UserAdminException">
                <soap:fault use="literal" name="UserAdminException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UserAdminSoap12Binding" type="ns:UserAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getUserStoreInfo">

            <soap12:operation soapAction="urn:getUserStoreInfo" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UserAdminException">
                <soap12:fault use="literal" name="UserAdminException" />

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRolePermissions">
            <soap12:operation soapAction="urn:getRolePermissions" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />

            </wsdl:output>
            <wsdl:fault name="UserAdminException">
                <soap12:fault use="literal" name="UserAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="bulkImportUsers">
            <soap12:operation soapAction="urn:bulkImportUsers" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />

            </wsdl:input>
            <wsdl:fault name="UserAdminException">
                <soap12:fault use="literal" name="UserAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllRolesNames">
            <soap12:operation soapAction="urn:getAllRolesNames" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UserAdminException">
                <soap12:fault use="literal" name="UserAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateRolesOfUser">

            <soap12:operation soapAction="urn:updateRolesOfUser" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="UserAdminException">
                <soap12:fault use="literal" name="UserAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteUser">

            <soap12:operation soapAction="urn:deleteUser" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="UserAdminException">
                <soap12:fault use="literal" name="UserAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUsersOfRole">

            <soap12:operation soapAction="urn:getUsersOfRole" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UserAdminException">
                <soap12:fault use="literal" name="UserAdminException" />

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changePasswordByUser">
            <soap12:operation soapAction="urn:changePasswordByUser" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />

            </wsdl:output>
            <wsdl:fault name="UserAdminException">
                <soap12:fault use="literal" name="UserAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setRoleUIPermission">
            <soap12:operation soapAction="urn:setRoleUIPermission" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />

            </wsdl:input>
            <wsdl:fault name="UserAdminException">
                <soap12:fault use="literal" name="UserAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRolesOfUser">
            <soap12:operation soapAction="urn:getRolesOfUser" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UserAdminException">
                <soap12:fault use="literal" name="UserAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllUIPermissions">

            <soap12:operation soapAction="urn:getAllUIPermissions" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UserAdminException">
                <soap12:fault use="literal" name="UserAdminException" />

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listUsers">
            <soap12:operation soapAction="urn:listUsers" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />

            </wsdl:output>
            <wsdl:fault name="UserAdminException">
                <soap12:fault use="literal" name="UserAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRole">
            <soap12:operation soapAction="urn:addRole" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />

            </wsdl:input>
            <wsdl:fault name="UserAdminException">
                <soap12:fault use="literal" name="UserAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changePassword">
            <soap12:operation soapAction="urn:changePassword" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />

            </wsdl:input>
            <wsdl:fault name="UserAdminException">
                <soap12:fault use="literal" name="UserAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteRole">
            <soap12:operation soapAction="urn:deleteRole" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />

            </wsdl:input>
            <wsdl:fault name="UserAdminException">
                <soap12:fault use="literal" name="UserAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addUser">
            <soap12:operation soapAction="urn:addUser" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />

            </wsdl:input>
            <wsdl:fault name="UserAdminException">
                <soap12:fault use="literal" name="UserAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateUsersOfRole">
            <soap12:operation soapAction="urn:updateUsersOfRole" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UserAdminException">
                <soap12:fault use="literal" name="UserAdminException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="UserAdminHttpBinding" type="ns:UserAdminPortType">
        <http1:binding verb="POST" />
        <wsdl:operation name="getUserStoreInfo">
            <http1:operation location="getUserStoreInfo" />
            <wsdl:input>
                <mime:content type="text/xml" part="getUserStoreInfo" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getUserStoreInfo" />

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRolePermissions">
            <http1:operation location="getRolePermissions" />
            <wsdl:input>
                <mime:content type="text/xml" part="getRolePermissions" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getRolePermissions" />

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="bulkImportUsers">
            <http1:operation location="bulkImportUsers" />
            <wsdl:input>
                <mime:content type="text/xml" part="bulkImportUsers" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllRolesNames">

            <http1:operation location="getAllRolesNames" />
            <wsdl:input>
                <mime:content type="text/xml" part="getAllRolesNames" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAllRolesNames" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateRolesOfUser">

            <http1:operation location="updateRolesOfUser" />
            <wsdl:input>
                <mime:content type="text/xml" part="updateRolesOfUser" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteUser">
            <http1:operation location="deleteUser" />
            <wsdl:input>
                <mime:content type="text/xml" part="deleteUser" />

            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getUsersOfRole">
            <http1:operation location="getUsersOfRole" />
            <wsdl:input>
                <mime:content type="text/xml" part="getUsersOfRole" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getUsersOfRole" />

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changePasswordByUser">
            <http1:operation location="changePasswordByUser" />
            <wsdl:input>
                <mime:content type="text/xml" part="changePasswordByUser" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="changePasswordByUser" />

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setRoleUIPermission">
            <http1:operation location="setRoleUIPermission" />
            <wsdl:input>
                <mime:content type="text/xml" part="setRoleUIPermission" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getRolesOfUser">

            <http1:operation location="getRolesOfUser" />
            <wsdl:input>
                <mime:content type="text/xml" part="getRolesOfUser" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getRolesOfUser" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllUIPermissions">

            <http1:operation location="getAllUIPermissions" />
            <wsdl:input>
                <mime:content type="text/xml" part="getAllUIPermissions" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAllUIPermissions" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listUsers">

            <http1:operation location="listUsers" />
            <wsdl:input>
                <mime:content type="text/xml" part="listUsers" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="listUsers" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addRole">

            <http1:operation location="addRole" />
            <wsdl:input>
                <mime:content type="text/xml" part="addRole" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="changePassword">
            <http1:operation location="changePassword" />
            <wsdl:input>
                <mime:content type="text/xml" part="changePassword" />

            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteRole">
            <http1:operation location="deleteRole" />
            <wsdl:input>
                <mime:content type="text/xml" part="deleteRole" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addUser">

            <http1:operation location="addUser" />
            <wsdl:input>
                <mime:content type="text/xml" part="addUser" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="updateUsersOfRole">
            <http1:operation location="updateUsersOfRole" />
            <wsdl:input>
                <mime:content type="text/xml" part="updateUsersOfRole" />

            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="updateUsersOfRole" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UserAdmin">
        <wsdl:port name="UserAdminHttpsSoap11Endpoint" binding="ns:UserAdminSoap11Binding">
            <soap:address location="https://localhost:8243/services/UserAdmin.UserAdminHttpsSoap11Endpoint" />

        </wsdl:port>
        <wsdl:port name="UserAdminHttpsSoap12Endpoint" binding="ns:UserAdminSoap12Binding">
            <soap12:address location="https://localhost:8243/services/UserAdmin.UserAdminHttpsSoap12Endpoint" />
        </wsdl:port>
        <wsdl:port name="UserAdminHttpsEndpoint" binding="ns:UserAdminHttpBinding">
            <http1:address location="https://localhost:8243/services/UserAdmin.UserAdminHttpsEndpoint" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
